<div class="container mt-3 pb-3" style="background-color:white;">   
    <div class="container mt-5 pb-5" >
        <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20" >
        <mat-grid-tile style="background-color: white">
            <img src="assets/simple crud operations.png" alt="Simple CRUD Operations" style="cursor: pointer;" routerLink="/list">
        </mat-grid-tile>
        <mat-grid-tile style="background-color: white">
            <img src="assets/coming soon.png" alt="Coming Soon">
        </mat-grid-tile>
        <mat-grid-tile style="background-color: white">
            <img src="assets/coming soon.png" alt="Coming Soon">
        </mat-grid-tile>
        <mat-grid-tile style="background-color: white"> 
            <img src="assets/coming soon.png" alt="Coming Soon">
        </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

  